
.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    height:25vh;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    background-color:#D8EFD3;
    margin: 0;
    align-items: center;
}

.add{
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.addBook{
    border-radius: 25px;
    height: 5rem;
    width: 5rem;
    border:none;
}

.items{
    font-size: 1.5rem;   
}

.content{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 2.5rem;
}

.modal{
    height:45vh;
    border-radius: 25px;
    padding: 3rem;
    border-color: white;
}

.modal::backdrop{
    background-color: rgb(0,0,0,0.6)
}

input[type=text]{
    display: block;
    margin: 1.5rem;
    margin-top: 1px;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 5px;
}

label{
    font-size:1.05rem ;
    font-weight: bold;
}

input[type=radio]{
    margin:8px;
}

button[type=submit]{
    margin-top: 1.7rem;
    height: 3.0rem;
    padding: 9px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 15px;
    color: white;
    background-color:#90BE6D ;
    border-color: #90BE6D;
    outline: none;
    border-style: solid;    
}

.item{
    text-align: center;
    line-height: 1.5;
    font-weight: bold;
    height: 17rem;
    width: 17rem;
    background-color:#FEFADC;
    border-radius: 23px;
    padding: 22px;
    border-style: solid;
    border-color: #53917E;
    border-width: 4px;
}

.delete{
    height: 3rem;
    margin-top: 0.8rem;
    font-size: 1rem;
    padding: 0 20px 0 20px;
    color: beige;
    font-weight: bold;
    border-style: solid;
    border-radius: 23px;
    border-color:#EA8592;
    border-width: 5px;
    background-color: #E46273;
    outline: none;
}

.read-toggle{
    display: block;
    font-size: 1rem;
    margin-top: 0.8rem;
    margin-left: 3.7rem;
    padding: 12px 20px 12px 20px;
    color: beige;
    font-weight: bold;
    border-style: solid;
    border-radius: 23px;
    border-width: 5px;
}

.read-toggle[data-read="false"]{
    background-color: #67C2F4;
    border-color: #BBDDF2;
}

.read-toggle[data-read="true"]{
    background-color: #F6A951;
    border-color: #F9C58B;
    padding-left: 1.3rem;
}